<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiAudote"
        tools:targetApi="31">
        <activity
            android:name=".PetInfo.UserAnimals"
            android:exported="false" />
        <activity
            android:name=".PetInfo.Actv_EdtDadosAnimal"
            android:exported="false" />
        <activity
            android:name=".UserData.Actv_EdtSenha"
            android:exported="false" />
        <activity
            android:name=".UserData.Actv_EdtEmail"
            android:exported="false" />
        <activity
            android:name=".UserData.Actv_EdtDados"
            android:exported="false" />
        <activity
            android:name=".ONGInfo.ONG_Register_Contact"
            android:exported="false" />
        <activity
            android:name=".ONGInfo.ONG_Register_General"
            android:exported="false" />
        <activity
            android:name=".UserData.Cellphone_Activity"
            android:exported="false" />
        <activity
            android:name=".PetInfo.AdoptionPet_Info"
            android:exported="false" />
        <activity
            android:name=".PetInfo.MissingPet_Info"
            android:exported="false" />
        <activity
            android:name=".PetInfo.ADD_MissingPet_Page"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ONGInfo.ONG_Page"
            android:exported="false" />
        <activity
            android:name=".UserData.Confirmar_Login"
            android:exported="false" />
        <activity
            android:name=".Fragments.Main_Page"
            android:exported="false" />
        <activity
            android:name=".UserData.Register_Activity"
            android:exported="false" />
        <activity
            android:name=".UserData.LoginIn_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
    </application>

</manifest>